/* uploader css start ! */

#uploader_main { width:96% ;   font-size: 20px ; margin: 1%;}
#uploader_header { width:100% ; float: left;}
#uploader_header .search { border: 1px solid gray ;}
#uploader_content { width: 100% ; float: left;  }
#uploader_content table td { border: 1px solid #B8B8B8 ; padding:5px;}
#uploader_content table tr:hover { background: #F5F5F5 ; }
#uploader_content table input { margin : 1px; }

/* uploader css end ! */

/* Login css start ! */

#isim_input { margin: auto ; width: 400px ; margin-top: 20% ;}
#isim_input input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #55BFFA !important ;
}
/* login css end */

/* index css start */

#main_site { width: 96%; float: left; font-size: 20px ; margin: 1%;}
#main_menu { float: left; width: 100% ; ; height: 40px ;}
#main_content { float:left ; width: 94% ; margin: 2% ;}

#comments { float: left; width: 100% ; }